<div class="row">
  <div class="gallery u-max-full-width hide" id="gallery">
    <div class="close" id="close-gallery"></div>
    <div class="main-img"></div>
    <div class="img-gallery">
      <div class="prev"></div>
      <div class="siema">
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
        <div>
          <img src="assets/images/slide-img-1.png" alt="">
        </div>
      </div>
      <div class="next"></div>
    </div>
  </div>
</div>
