<div class="row">
  <div class="playlist u-max-full-width hide" id="playlist">
    <div class="close" id="close-playlist"></div>
    <ul class="tracklist">
      <li>
        <div class="title"><a href="#">Track One</a></div>
        <div class="time">1:24</div>
        <div class="play"><a href="#">Play</a></div>
      </li>
      <li>
        <div class="title"><a href="#">Track Two</a></div>
        <div class="time">2:24</div>
        <div class="play"><a href="#">Play</a></div>
      </li>
      <li>
        <div class="title"><a href="#">Track TwoTrack TwoTrack TwoTrack Two</a></div>
        <div class="time">3:24</div>
        <div class="play"><a href="#">Play</a></div>
      </li>
      <li>
        <div class="title"><a href="#">Track Two</a></div>
        <div class="time">4:24</div>
        <div class="play"><a href="#">Play</a></div>
      </li>
      <li>
        <div class="title"><a href="#">Track Two</a></div>
        <div class="time">4:24</div>
        <div class="play"><a href="#">Play</a></div>
      </li>
      <li>
        <div class="title"><a href="#">Track Two</a></div>
        <div class="time">4:24</div>
        <div class="play"><a href="#">Play</a></div>
      </li>
    </ul>
  </div>
</div>
