// Tables

th,
td {
  padding: 12.5% 15%;
  text-align: left;
  border-bottom: 1px solid $light-orange;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
